.reveal .sourceCode.r .kw, .sourceCode.r .er {
  color:inherit;
  font-weight: normal;
}
.reveal .sourceCode.r .co {
  font-style: normal;
}

.reveal .slides {
  text-align: inherit;
}


/* Styles for Title Slide */
.reveal h1.title {
  margin: 50px 0 30px 0;
  font-size: 70px;
  }

.reveal h1.subtitle {
  margin: 0 0 60px 0;
  font-size: 42px;
   color: #ffcc11;
}

.reveal h2.author {
  margin: 0 0 10px 0;
  font-size: 28px;

}

.reveal h3.date{
  margin: 30px 0 0 0;
  font-size: 16px;
  color: #4ACFAC;
}



.reveal .slide.level2 h1 {
  font-size: 40px;
}

.reveal .slide.level2 h2 {
  font-size: 30px;
}

.reveal .slide.level2 h3 {
  font-size: 18px;
}

.reveal pre code {
  font-size: 20px;
  line-height: 1.3;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  }
  
.center {
   text-align: center;
}

.right {
   text-align: right;
}


yt {
  color: #4ACFAC; 
}

amar {
  color: #ffcc00;
}

